.card_line {
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex !important;
    padding: 0% !important;

    img {
        width: 100%;
        height: auto;
    }


    .card_text {
        display: flex;
        flex-direction: column;
        padding: 5%;
        justify-content: baseline;
        min-height: 250px;

        h4 {
            font-weight: 700 !important;
            line-height: 1.5 !important;
        }


        p {
            min-height: 60px;
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}